 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.hidden{
    display: none;
}

.disable{
    pointer-events: none;
}
#boxes .grey{
    background-color: black;
}

.title{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
}
button{ 
    border-radius: 8px;
    width: fit-content;
    padding: 3px 6px;
}
.boxes{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box:active{
 background-color: #fff;
}
.box{
margin: 4px;
width: 40%;
aspect-ratio: 1;
border-radius: 8px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;}


.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
